In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from matplotlib import font_manager, rcParams
!apt-get install fonts-nanum*
rcParams['font.family'] = 'NanumGothicCoding'
rcParams['axes.unicode_minus'] = False
font_manager._rebuild()

Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'fonts-nanum-eco' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-gothic-light' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-coding' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-extra' for glob 'fonts-nanum*'
fonts-nanum is already the newest version (20170925-1).
fonts-nanum-coding is already the newest version (2.5-1).
fonts-nanum-eco is already the newest version (1.000-6).
fonts-nanum-extra is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/201101_201212_주민등록인구기타현황(세대원수별 세대수)_households.csv', encoding='MS949')
rawData

                          행정구역 2011년01월_전체세대  ... 2012년12월_9인세대 2012년12월_10인세대
0             전국  (1000000000)    19,869,849  ...         5,021          4,046
1          서울특별시  (1100000000)     4,223,301  ...           762            539
2       서울특별시 종로구 (1111000000)        77,569  ...            17             16
3        서울특별시 중구 (1114000000)        61,423  ...             7             15
4       서울특별시 용산구 (1117000000)       113,154  ...            19             18
..                         ...           ...  ...           ...            ...
245      경상남도 거창군 (4888000000)        26,968  ...             7              6
246      경상남도 합천군 (4889000000)        23,862  ...             7             18
247      제주특별자치도  (5000000000)       224,911  ...           132             84
248   제주특별자치도 제주시 (5011000000)       162,995  ...            88             55
249  제주특별자치도 서귀포시 (5013000000)        61,916  ...            44             29

[250 rows x 265 columns]

In [ ]:
rawData2 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/201301_201512_주민등록인구기타현황(세대원수별 세대수)_households.csv', encoding='MS949')
rawData2

                          행정구역 2013년01월_전체세대  ... 2015년12월_9인세대 2015년12월_10인세대
0             전국  (1000000000)    20,223,716  ...         4,879          4,057
1          서울특별시  (1100000000)     4,178,537  ...           905            610
2       서울특별시 종로구 (1111000000)        75,365  ...            31             13
3        서울특별시 중구 (1114000000)        61,431  ...             9             16
4       서울특별시 용산구 (1117000000)       110,665  ...            23             22
..                         ...           ...  ...           ...            ...
244      경상남도 거창군 (4888000000)        27,210  ...             9              6
245      경상남도 합천군 (4889000000)        24,011  ...            10             17
246      제주특별자치도  (5000000000)       232,399  ...            98             77
247   제주특별자치도 제주시 (5011000000)       168,860  ...            56             52
248  제주특별자치도 서귀포시 (5013000000)        63,539  ...            42             25

[249 rows x 397 columns]

In [ ]:
rawData3 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/201601_201812_주민등록인구기타현황(세대원수별 세대수)_households.csv', encoding='MS949')
rawData3

                          행정구역 2016년01월_전체세대  ... 2018년12월_9인세대 2018년12월_10인세대
0             전국  (1000000000)    21,026,847  ...         4,340          3,779
1          서울특별시  (1100000000)     4,190,415  ...           841            604
2       서울특별시 종로구 (1111000000)        72,605  ...            21             16
3        서울특별시 중구 (1114000000)        59,279  ...            13             18
4       서울특별시 용산구 (1117000000)       107,428  ...            23             23
..                         ...           ...  ...           ...            ...
243      경상남도 거창군 (4888000000)        27,912  ...             6              3
244      경상남도 합천군 (4889000000)        24,360  ...             5              9
245      제주특별자치도  (5000000000)       257,534  ...            97             68
246   제주특별자치도 제주시 (5011000000)       186,110  ...            58             46
247  제주특별자치도 서귀포시 (5013000000)        71,424  ...            39             22

[248 rows x 397 columns]

In [ ]:
rawData4 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/201901_202112_주민등록인구기타현황(세대원수별 세대수)_households.csv', encoding='MS949')
rawData4

                          행정구역 2019년01월_전체세대  ... 2021년12월_9인세대 2021년12월_10인세대
0             전국  (1000000000)    22,081,397  ...         2,748          2,672
1          서울특별시  (1100000000)     4,271,551  ...           581            439
2       서울특별시 종로구 (1111000000)        73,691  ...            10             12
3        서울특별시 중구 (1114000000)        61,612  ...             6             17
4       서울특별시 용산구 (1117000000)       109,146  ...            16             18
..                         ...           ...  ...           ...            ...
242      경상남도 거창군 (4888000000)        28,838  ...             5              3
243      경상남도 합천군 (4889000000)        24,096  ...             3              5
244      제주특별자치도  (5000000000)       287,576  ...            50             39
245   제주특별자치도 제주시 (5011000000)       204,971  ...            31             26
246  제주특별자치도 서귀포시 (5013000000)        82,605  ...            19             13

[247 rows x 397 columns]

In [ ]:
tmp=pd.merge(left=rawData, right=rawData2, on='행정구역', how='outer')
tmp

                          행정구역 2011년01월_전체세대  ... 2015년12월_9인세대 2015년12월_10인세대
0             전국  (1000000000)    19,869,849  ...         4,879          4,057
1          서울특별시  (1100000000)     4,223,301  ...           905            610
2       서울특별시 종로구 (1111000000)        77,569  ...            31             13
3        서울특별시 중구 (1114000000)        61,423  ...             9             16
4       서울특별시 용산구 (1117000000)       113,154  ...            23             22
..                         ...           ...  ...           ...            ...
246      경상남도 합천군 (4889000000)        23,862  ...            10             17
247      제주특별자치도  (5000000000)       224,911  ...            98             77
248   제주특별자치도 제주시 (5011000000)       162,995  ...            56             52
249  제주특별자치도 서귀포시 (5013000000)        61,916  ...            42             25
250       경기도 여주시 (4167000000)           NaN  ...            12             22

[251 rows x 661 columns]

In [ ]:
tmp1=pd.merge(left=tmp, right=rawData3, on='행정구역', how='outer')
tmp1

                          행정구역 2011년01월_전체세대  ... 2018년12월_9인세대 2018년12월_10인세대
0             전국  (1000000000)    19,869,849  ...         4,340          3,779
1          서울특별시  (1100000000)     4,223,301  ...           841            604
2       서울특별시 종로구 (1111000000)        77,569  ...            21             16
3        서울특별시 중구 (1114000000)        61,423  ...            13             18
4       서울특별시 용산구 (1117000000)       113,154  ...            23             23
..                         ...           ...  ...           ...            ...
247      제주특별자치도  (5000000000)       224,911  ...            97             68
248   제주특별자치도 제주시 (5011000000)       162,995  ...            58             46
249  제주특별자치도 서귀포시 (5013000000)        61,916  ...            39             22
250       경기도 여주시 (4167000000)           NaN  ...            14             17
251    인천광역시 미추홀구 (2817700000)           NaN  ...            16             19

[252 rows x 1057 columns]

In [ ]:
tmp2=pd.merge(left=tmp1, right=rawData4, on='행정구역', how='outer')

tmp2

                          행정구역 2011년01월_전체세대  ... 2021년12월_9인세대 2021년12월_10인세대
0             전국  (1000000000)    19,869,849  ...         2,748          2,672
1          서울특별시  (1100000000)     4,223,301  ...           581            439
2       서울특별시 종로구 (1111000000)        77,569  ...            10             12
3        서울특별시 중구 (1114000000)        61,423  ...             6             17
4       서울특별시 용산구 (1117000000)       113,154  ...            16             18
..                         ...           ...  ...           ...            ...
247      제주특별자치도  (5000000000)       224,911  ...            50             39
248   제주특별자치도 제주시 (5011000000)       162,995  ...            31             26
249  제주특별자치도 서귀포시 (5013000000)        61,916  ...            19             13
250       경기도 여주시 (4167000000)           NaN  ...             8             13
251    인천광역시 미추홀구 (2817700000)           NaN  ...            14             22

[252 rows x 1453 columns]

In [ ]:
names = []
for name in tmp2.columns:
  if name == '행정구역':
    # print(name)
    names.append(name)
    continue
  # print( pd.to_datetime(name.split('_')[0], format='%Y년%m월') )
  names.append(pd.to_datetime(name.split('_')[0], format='%Y년%m월'))

In [ ]:
tmp2.columns = names

In [ ]:
test_df=tmp2[tmp2['행정구역'].str.contains('서울특별시')]
test_df['행정구역'] = tmp2['행정구역'].str.split('(').str[0]
# test_df.set_index('행정구역', inplace = True)
# de
test_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           행정구역 2011-01-01 00:00:00  ... 2021-12-01 00:00:00 2021-12-01 00:00:00
1       서울특별시             4,223,301  ...                 581                 439
2    서울특별시 종로구               77,569  ...                  10                  12
3     서울특별시 중구               61,423  ...                   6                  17
4    서울특별시 용산구              113,154  ...                  16                  18
5    서울특별시 성동구              129,388  ...                  18                  10
6    서울특별시 광진구              159,671  ...                  17                  16
7   서울특별시 동대문구              158,661  ...                  19                  10
8    서울특별시 중랑구              176,074  ...                  17                   9
9    서울특별시 성북구              201,402  ...                  27                  32
10   서울특별시 강북구              142,793  ...                  15                  18
11   서울특별시 도봉구              140,628  ...                  26                   6
12   서울특별시 노원구              227,678  ...                  26                  18
13   서울특별시 은평구              196,659  ...                  27                  24
14  서울특별시 서대문구              138,191  ...                  24                  11
15   서울특별시 마포구              170,555  ...                  31                  12
16   서울특별시 양천구              183,584  ...                  25                  21
17   서울특별시 강서구              225,205  ...                  29                  18
18   서울특별시 구로구              170,096  ...                  27                  12
19   서울특별시 금천구              103,377  ...                  14                   6
20  서울특별시 영등포구              171,783  ...                  16                  25
21   서울특별시 동작구              167,920  ...                  23                  19
22   서울특별시 관악구              247,874  ...                  15                  22
23   서울특별시 서초구              170,994  ...                  48                  26
24   서울특별시 강남구              234,230  ...                  49                  23
25   서울특별시 송파구              264,181  ...                  29                  32
26   서울특별시 강동구              190,211  ...                  27                  22

[26 rows x 1453 columns]

In [ ]:
import datetime

In [ ]:
names = []
for name in test_df.columns[1:]:
  # print( pd.to_datetime(name.split('_')[0], format='%Y년%m월') )
  names.append(name.strftime('%Y-%m').split(' ')[0])
names.insert(0, '행정구역')
test_df.columns = names

In [ ]:
test_df.head()

         행정구역    2011-01    2011-01  2011-01  ... 2021-12 2021-12 2021-12 2021-12
1     서울특별시    4,223,301  1,535,816  778,517  ...   6,705   1,848     581     439
2  서울특별시 종로구      77,569     35,771   13,456  ...     133      40      10      12
3   서울특별시 중구      61,423     28,616   11,249  ...      91      24       6      17
4  서울특별시 용산구     113,154     51,822   21,164  ...     174      53      16      18
5  서울특별시 성동구     129,388     49,133   24,598  ...     214      55      18      10

[5 rows x 1453 columns]

In [ ]:
test_df2 = test_df.set_index('행정구역')
test_df2

               2011-01    2011-01  2011-01  ... 2021-12 2021-12 2021-12
행정구역                                        ...
서울특별시        4,223,301  1,535,816  778,517  ...   1,848     581     439
서울특별시 종로구       77,569     35,771   13,456  ...      40      10      12
서울특별시 중구        61,423     28,616   11,249  ...      24       6      17
서울특별시 용산구      113,154     51,822   21,164  ...      53      16      18
서울특별시 성동구      129,388     49,133   24,598  ...      55      18      10
서울특별시 광진구      159,671     63,753   28,341  ...      56      17      16
서울특별시 동대문구     158,661     65,350   28,647  ...      59      19      10
서울특별시 중랑구      176,074     63,916   33,416  ...      48      17       9
서울특별시 성북구      201,402     73,753   37,720  ...     100      27      32
서울특별시 강북구      142,793     50,725   28,753  ...      42      15      18
서울특별시 도봉구      140,628     41,610   26,666  ...      60      26       6
서울특별시 노원구      227,678     62,880   42,760  ...      77      26      18
서울특별시 은평구      196,659     67,155   38,726  ...      85      27      24
서울특별시 서대문구     138,191     54,491   26,289  ...      53      24      11
서울특별시 마포구      170,555     69,612   32,708  ...      72      31      12
서울특별시 양천구      183,584     51,387   31,028  ...      97      25      21
서울특별시 강서구      225,205     71,751   43,068  ...      86      29      18
서울특별시 구로구      170,096     58,260   32,295  ...      70      27      12
서울특별시 금천구      103,377     40,419   18,831  ...      43      14       6
서울특별시 영등포구     171,783     66,739   31,917  ...      78      16      25
서울특별시 동작구      167,920     62,648   32,478  ...      63      23      19
서울특별시 관악구      247,874    116,977   43,842  ...      72      15      22
서울특별시 서초구      170,994     56,575   30,611  ...     146      48      26
서울특별시 강남구      234,230     88,101   40,239  ...     141      49      23
서울특별시 송파구      264,181     83,879   46,144  ...     135      29      32
서울특별시 강동구      190,211     60,493   33,571  ...      93      27      22

[26 rows x 1452 columns]

In [ ]:
test_df2=test_df2.T
test_df2

행정구역       서울특별시   서울특별시 종로구  서울특별시 중구   ... 서울특별시 강남구  서울특별시 송파구  서울특별시 강동구
2011-01  4,223,301     77,569    61,423  ...    234,230    264,181    190,211
2011-01  1,535,816     35,771    28,616  ...     88,101     83,879     60,493
2011-01    778,517     13,456    11,249  ...     40,239     46,144     33,571
2011-01    774,468     11,688     9,441  ...     40,678     51,369     37,555
2011-01    864,689     12,092     8,926  ...     50,818     64,009     44,988
...            ...        ...       ...  ...        ...        ...        ...
2021-12     28,628        475       371  ...      1,930      2,257      1,341
2021-12      6,705        133        91  ...        482        483        315
2021-12      1,848         40        24  ...        141        135         93
2021-12        581         10         6  ...         49         29         27
2021-12        439         12        17  ...         23         32         22

[1452 rows x 26 columns]

In [ ]:
one=test_df2.iloc[1::11,:]
two=test_df2.iloc[2::11,:]
three=test_df2.iloc[3::11,:]
four =test_df2.iloc[4::11,:]
five=test_df2.iloc[5::11,:]
six=test_df2.iloc[6::11,:]
seven=test_df2.iloc[7::11,:]
eight=test_df2.iloc[8::11,:]
nine=test_df2.iloc[9::11,:]
ten=test_df2.iloc[10::11,:]
total=test_df2.iloc[0::11,:]

In [ ]:
def conv(x):
  if x.name == '행정구역': return x
  return x.str.replace(',', '').astype(np.int)

total.apply(conv)
one.apply(conv)
two.apply(conv)
three.apply(conv)
four.apply(conv)
five.apply(conv)
six.apply(conv)
seven.apply(conv)
eight.apply(conv)
nine.apply(conv)
ten.apply(conv)

행정구역     서울특별시    서울특별시 종로구   서울특별시 중구   ...  서울특별시 강남구   서울특별시 송파구   서울특별시 강동구
2011-01      500          17         13  ...          29          30          24
2011-02      499          17         12  ...          30          30          26
2011-03      495          16         13  ...          30          28          25
2011-04      509          16         13  ...          34          27          27
2011-05      525          16         14  ...          32          28          28
...          ...         ...        ...  ...         ...         ...         ...
2021-08      449          12         17  ...          25          29          25
2021-09      443          12         17  ...          23          32          23
2021-10      445          12         17  ...          23          31          25
2021-11      444          13         17  ...          22          30          23
2021-12      439          12         17  ...          23          32          22

[132 rows x 26 columns]

In [ ]:
ten

행정구역    서울특별시   서울특별시 종로구  서울특별시 중구   ... 서울특별시 강남구  서울특별시 송파구  서울특별시 강동구
2011-01     500         17        13  ...         29         30         24
2011-02     499         17        12  ...         30         30         26
2011-03     495         16        13  ...         30         28         25
2011-04     509         16        13  ...         34         27         27
2011-05     525         16        14  ...         32         28         28
...         ...        ...       ...  ...        ...        ...        ...
2021-08     449         12        17  ...         25         29         25
2021-09     443         12        17  ...         23         32         23
2021-10     445         12        17  ...         23         31         25
2021-11     444         13        17  ...         22         30         23
2021-12     439         12        17  ...         23         32         22

[132 rows x 26 columns]

In [ ]:
total.to_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/전체세대인구.csv', index=True)

In [ ]:
one.to_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/1세대인구.csv', index=True)

In [ ]:
two.to_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/2세대인구.csv', index=True)

In [ ]:
three.to_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/3세대인구.csv', index=True)

In [ ]:
four.to_csv('/content/drive/MyDrive/멀티캠퍼스/data/인구/4세대인구.csv', index=True)

5세대 이상부터 값 합치기